body{
    display: flex;
    justify-content: center;
    background-color: #fdfffc;
}
img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.img-div{
    display: flex;
    justify-content: center;
    background-color: #b0a1ba;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.Card{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    background-color: #b8e2c8;
    height: 350px;
    width: 300px;
    border-radius: 5%;
}
.buttons,.social-Media{
    display: flex;
    justify-content: space-around;
}
.last-buttons{
    background-color: #b0a1ba;
    width: 110px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #b8e2c8;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #b8e2c8;
    background-color: #b0a1ba;
}
h4{
    font-size: large;
    font-weight: bolder;
}
.details{
    display: flex;
    justify-content: center;
}